@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* 컬러 변수 셋팅 */
:root{--primary:#0f5fb9;--ani:cubic-bezier(0.25, 0.46, 0.45, 0.94)}

*{-webkit-text-size-adjust:none}
body{background:#fff;font-size:0.81em;font-family:'Nanum Gothic'}
h1, h2, h3, h4, h5, h6, input, button, textarea, select{font-family:'Nanum Gothic'}

/* 메뉴오픈 - 스크롤막기 */
body.open{overflow:hidden;position:absolute;width:100%;height:100%}
#sh_wrapper{position:relative;max-width:1920px;width:100%;margin:0 auto}

/* HEADER */
#sh_hd{position:relative;z-index:15;min-width:1400px;width:100%;font-family:'notokr-regular'}

/* MAIN  */
#main_banner{position:relative;z-index:10;min-width:1400px;width:100%;height:100vh;overflow:hidden}

/* INDEX */
#sh_section{font-size:15px;line-height:1.8;letter-spacing:-.3px;color:#777;font-family:notokr-regular}
 
/* CONTAINER */
#sh_container{position:relative;min-width:1500px;width:100%;z-index:0;padding-top:90px}
#sh_container_wrapper{position:relative;width:100%;margin:0 auto;zoom:1;background-color:#fff;z-index: 99}
#sh_container_wrapper:after{display:block;visibility:hidden;clear:both;content:""}
#sh_container_wrapper.sub{width:1500px;margin: -80px auto 0}

/* SNB */
#sh_aside{position:relative;z-index:15;width:100%;font-family:'notokr-regular'}
#sh_aside:after{display:block;content:"";position:absolute;left:0;bottom:0;z-index:-1;width:100%;height:1px;background-color:#e1e1e1}
#sh_aside_wrapper{overflow:hidden;position:relative;width:1200px;margin:0 auto;zoom:1}

/* CONTENT */
#sh_content{position:relative;z-index:4;width:1200px;min-height:580px;margin:0 auto;padding:70px 90px; }
#sh_content2{position:relative;z-index:4;/* width:1200px; */min-height:580px;margin:0 auto;padding:70px 90px; /*sh*/ text-align:center; }
#sh_content:after{display:block;visibility:hidden;clear:both;content:""}

/* 하단메뉴 */
#sh_ft{position:relative;z-index:10;min-width:1500px;width:100%;font-size:13px;line-height:1.8;color:#a3a3a3;font-family:'notokr-regular'} 
#sh_ft .ft_mn{margin-bottom:30px}
#sh_ft .ft_mn li{display:inline-block}
#sh_ft .ft_mn li:not(:first-child){margin-left:25px}
#sh_ft .ft_mn li a{font-size:16px;color:#fff;font-family:'notokr-medium'}
#sh_ft .ft_mn li a:hover{text-decoration:underline!important}

/* 하단 로고, sns, 회사정보 */
#sh_ft_wrapper{position:relative;border-bottom:solid 1px rgba(255,255,255,.1);background:#1c1c1c}
#sh_ft .inner{position:relative;padding:90px 0;width:1495px;margin: 0 auto;overflow: hidden}
#sh_ft .inner .tit{margin-bottom:25px;font-size:15px;font-weight:600;color: #fff;font-family:'Poppins'}
#sh_ft .inner .tit2{margin-bottom:5px;font-size:15px;font-weight:600;color: #fff;font-family:'Poppins'}
#sh_ft .left{float:left;width:50%}
#sh_ft .ifm{float:right;width:30%}
#sh_ft .ifm .info{overflow:hidden}
#sh_ft .ifm .info > *{float:left}
#sh_ft .ifm .info p{font-size:26px;font-weight:600;line-height:40px;color:#fff;font-family:'Poppins'}
#sh_ft .ifm .info ul{margin-left:40px;font-size:14px;font-weight:300;line-height:1.5;color:rgba(255,255,255,.4);font-family:'Poppins'}

/* 카피라이트 */
#sh_ft .copy{position:relative;overflow:hidden;background-color:#1c1c1c}
#sh_ft .copy .inner{padding:25px 0;color:#fff}
#sh_ft .copy ul{position:absolute;right: 0;top: 27px;}
#sh_ft .copy ul li{display:inline-block;margin-left:15px;font-size:12px;font-weight:600;color:#fff;font-family:'Poppins'}
#sh_ft .copy ul li a{color: #7b7b7b;}

/* 사이트맵 */
a{text-decoration:none !important}
a:hover{text-decoration:none !important}

#sh_site_map{width:100%;position:relative;min-height:500px;height:500px auto;margin:0 auto}
.sh_site_map01{width:30%;float:left;margin-right:3%;min-height:200px;height:200px auto}
.sh_site_map_title{font-size:1.4em;color:#515151}
.sh_site_map_title a{color:#515151}
.sh_site_map_line{border-bottom:2px solid #8b8b8b;margin:10px 0}
.sh_site_map_box{width:90%;margin:0 auto;background:#f7f7f7;border-bottom:1px solid #ebebeb;border-top:1px solid #ebebeb;min-height:80px}
.sh_site_map_txt{font-size:1em;line-height:1.2em;color:#666;font-weight:bold;padding:5px}
.sh_site_map_txt a{color:#666}

#device_change{border:1px solid #666;font-size:3.5em;box-shadow:none}
