@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');/* regular-400, medium-500, semibold-600, bold-700 */ 

*{-webkit-text-size-adjust:none}
body{background:#fff;font-size:0.81em;font-family:'pretendard'}
h1, h2, h3, h4, h5, h6, input, button, textarea, select{font-family:'pretendard'}
#device_change{width:50%;border:1px solid #666;font-size:3.5em;box-shadow:none} 

:root{--primary:#FF5C00}
.dft_btn{border:none;background:none;font-family:'pretendard'}

/* =========================== HEADER */
#sh_hd{position:fixed;z-index:15;width:100%;font-size:15px;font-family:'pretendard'}

/* =========================== MAIN */
#sh_section{overflow:hidden;position:relative;;font-size:15px;line-height:1.6;color:#777;font-family:'pretendard'}
.sh_cont_box .s_tit{text-align: center;padding-bottom:5px;font-size:32px;font-weight:700;color:#111; position: relative; padding-top: 3rem;}
.sh_cont_box .s_tit::after{
    content: "";
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 52px;
    height: 5px;
    background: #FF5C00;
}
.sh_cont_box .txt_group{position:relative;font-size:17px;color:#888;word-break:keep-all}
.sh_cont_box .txt_group p{font-size:38px;font-weight:500;line-height:1.3;color:#111;word-break:keep-all; margin: 10px 0 !important;}
.sh_cont_box .more_btn{display:flex;align-items:center;justify-content:space-between;width:186px;height:60px;padding:0 28px 0 35px;font-size:15px;font-weight:600;border-radius:30px;background:#f2f2f2;transition:all .2s}
@media(hover:hover){
.sh_cont_box .more_btn:hover{color:#fff;background:#FF5C00}
}



/* =========================== SNB */
#sh_aside{display: none; position:relative;min-width:270px;margin:0;z-index:25;font-family:'pretendard'}
#sh_aside_com{display: none;position:relative;min-width:120px;margin:0;z-index:25;font-family:'pretendard'}
/* =========================== NAV */
#navbar{display: none; position:fixed;z-index:999;top:50%;left:40px;transform:translateY(-50%)}
#navbar.mainbanner{opacity:0}
#navbar li{position:relative;transition:all .3s}
#navbar li+li{margin-top:25px}
#navbar li:before{opacity:0;display:block;content:"";position:absolute;left:-15px;top:9px;width:5px;height:5px;border-radius:50%;background:#FF5C00;transition:all .3s}
#navbar li a{font-size:15px;font-weight:600;color:#111;transition:all .3s;font-family:'Poppins'}
#navbar li.active:before{opacity:1}
#navbar li.active a{color:#FF5C00!important}
#navbar.section02 li a{color:#fff}

/* =========================== CONTAINER */
#sh_container{position:relative;z-index:10;width:100%}
#sh_container_wrapper.sub{padding-top:50px}
#sh_content{display: flex;position:relative;z-index:4;/* width:1200px; */min-height:580px;margin:0 auto;padding:70px 250px; }
#sh_content2{display: flex;position:relative;z-index:4;/* width:1200px; */min-height:580px;margin:0 auto;padding:70px 90px; }
#sh_content3{position:relative;z-index:4;/* width:1200px; */min-height:580px;margin:0 auto;padding:70px 20px; }
@media(max-width:1850px){
    #sh_content3{
        padding:70px 0px; 
    }
}

/* =========================== FOOTER */
#toTop{pointer-events:none;opacity:0;cursor:pointer;position:fixed;right:30px;bottom:10%;z-index:101;display:flex;width:65px;height:65px;margin-bottom:-50px;border-radius:100%;background:#fff;transition:all .2s;box-shadow:2px 2px 18px rgba(0, 0, 0, .1)}
#toTop svg{margin:auto;color:#000}
#toTop.on{pointer-events:auto;opacity:1;margin-bottom:0}
#sh_ft{position:relative;font-size:14px;color:rgba(255,255,255,.4);line-height:2;background:#121614;font-family:'pretendard'}
#sh_ft .ft_nav{display:flex;justify-content:space-between;align-items:center;max-width:1320px;margin:0 auto;padding-right:15px;height:105px}
#sh_ft .ft_nav > a{display:flex;justify-content:center;align-items:center;height:100%;width:260px;font-size:18px;font-weight:600;color:#fff;background-color:#FF5C00}
#sh_ft .ft_nav > a svg{width:20px;height:20px;margin-left:8px}
#sh_ft .ft_nav ul{display:flex}
#sh_ft .ft_nav li+li:before{display:inline-block;content:"";width:1px;height:12px;margin:0 25px;background:rgba(255,255,255,.2)}
#sh_ft .ft_nav li a{opacity:.4;font-size:16px;color:#fff;transition:all .2s}
#sh_ft .inner{display:flex;align-items:flex-start;padding:90px calc((100% - 1320px) / 2);border-top:1px solid rgba(255,255,255,.15)}
#sh_ft .ft_logo{opacity:.4}
#sh_ft .ft_logo img{max-width:200px}
#sh_ft .info{margin-left:80px}
#sh_ft .info p{margin-bottom:15px;font-size:18px;font-weight:700;font-family:'Play'}
#sh_ft .cs{margin-left:auto;font-family:'poppins',sans-serif}
#sh_ft .cs span{font-size:15px;font-weight:600;color:#fff}
#sh_ft .cs p{margin-bottom:10px;font-size:26px;font-weight:700;color:#FF5C00}
#sh_ft .copy{display:flex;padding:10px calc((100% - 1320px) / 2);background-color:rgba(0,0,0,.3)}
#sh_ft .copy .links{margin-left:auto}
#sh_ft .copy .links a{font-weight:500;color:rgba(255,255,255,.4)}
#sh_ft .copy .links a+a{margin-left:30px}
#sh_ft .cs .info{overflow:hidden;margin-left: 0px;}
#sh_ft .cs .info > *{float:left}
#sh_ft .cs .info p{font-size:26px;font-weight:600;line-height:40px;color:#FF5C00;font-family:'Poppins'}
#sh_ft .cs .info ul{margin-left:40px;font-size:14px;font-weight:300;line-height:1.5;color:rgba(255,255,255,.4);font-family:'Poppins'}
@media(hover:hover){
#toTop:hover{box-shadow:4px 4px 18px rgba(0, 0, 0, .15)}
#sh_ft .ft_nav li a:hover{opacity:1}
}

/* contact us 구분선*/
.section_divider_contact {
    border: none;
    border-top: 2px solid #555; 
    width: 100%;
    max-width: 1200px;
    margin: 20px auto; /* 위아래 여백 */
    opacity: 0.8;
    display: block;
}

/* 반응형 사이트맵 공통 */
#sh_site_map{position:relative;width:100%;font-family:'notokr-regular'}
#sh_site_map:after{display:block;content:"";visibility:hidden;clear:both}
#sh_site_map > div{width:31%;float:left;margin:0 1%}
#sh_site_map > div:nth-of-type(3n){margin-right:0}
#sh_site_map .sh_site_map_title{padding:10px 15px;border-bottom:2px solid #333;font-size:17px;font-weight:normal;text-align:center;color:#222;font-family:'notokr-bold'}
#sh_site_map ul{padding:0 15px 15px}
#sh_site_map .sh_site_map_box{min-height:205px;padding:17px 20px;border:1px solid #e1e1e1;border-top:none;font-size:14px;color:#333;line-height:40px}
#sh_site_map .sh_site_map_box li{border-bottom:1px dotted #ccc}
#sh_site_map .sh_site_map_box li:last-child{border:none}

/* 반응형 하단 버튼 공통 */
#fix_tel{opacity:0;display:none;position:fixed;right:15px;bottom:20px;z-index:101;width:65px;height:65px;margin-right:-10px;border-radius:50%;font-size:30px;text-align:center;line-height:65px;color:#fff;background-color:#00b68f;box-shadow:5px 5px 5px rgba(0,0,0,.2);-webkit-transition:all .2s;transition:all .2s}
#fix_tel.active{opacity:1;margin-right:0}
#sh_ft_btns{display:none;padding:15px}
#sh_ft_btns .btns{overflow:hidden}
#sh_ft_btns .row2 a{width:50%}
#sh_ft_btns a{float:left;display:block;width:100%;height:55px;font-size:16px;line-height:55px;color:#fff;text-align:center;background:#121614;font-family:'notokr-bold'}
#sh_ft_btns a.tel{font-size:18px;font-weight:700;letter-spacing:0;font-family:'Poppins'}
#sh_ft_btns a i{padding-right:5px;font-size:18px}
#sh_ft_btns a.kakao{font-weight:normal;color:#402325;background-color:#ffe500}

/* 반응형 [s] */
@media (max-width:1600px){
#navbar{left:25px}
#navbar li a{font-size:14px}
#sh_content{
    padding: 70px 2rem;
}
}
@media (max-width:1520px){
#navbar{display:none}
}
@media (max-width:1380px){
#sh_ft .inner{padding:90px 30px}
#sh_ft .copy{padding:10px 30px}
#sh_aside{padding:0 20px}	
}
@media (max-width:1024px){
.sh_cont_box .s_tit{font-size:20px}
.sh_cont_box .txt_group p{font-size:40px}	
.sh_cont_box .more_btn{width:150px;height:52px;padding:0 20px 0 28px}
.sh_cont_box .more_btn svg{width:20px;height:20px}
#sh_container_wrapper.sub{padding:0}
#sh_content{margin:0 auto;padding:40px 2rem;border:none}
#sh_aside{display:none}
#sh_hd{position:relative}
#sh_container{margin:0}
#sh_section{font-size:14px}
#toTop{display:none}
#sh_ft .ft_nav{height:85px}
#sh_ft .ft_nav > a{width:25%}
#sh_ft .ft_nav ul{width:75%;justify-content:flex-end}
#sh_ft .ft_nav li+li:before{margin:0 10px}
#sh_ft .inner{padding:60px 30px;flex-wrap:wrap}
#sh_ft .ft_logo{width:100%}
#sh_ft .info{/*width:70%;*/margin:20px 0 0;padding-right:30px}
#sh_ft .cs{width:30%}
}
@media (max-width:768px){
/* 반응형 스타일 필수 [s] */
#sh_login, #sh_agree, #sh_register,#sh_mb_confirm, #sh_result{padding:15px;margin:15px auto;border:none}
#sh_login input[type=submit], #sh_agree .btn_wrap input[type=submit], #sh_register .btn_wrap input[type=submit],#sh_find_info input[type=submit], #sh_mb_confirm input[type=submit]{-webkit-appearance:none;appearance:none}
#sh_login .bnr .txt p a{color:#0054a6}
#sh_pw_confirm{width:100%;padding:30px 20px;border:none}
#sh_agree .inner{padding:15px}
#sh_agree .cont{padding:10px}
#sh_site_map{padding:30px 20px}
#sh_site_map > div{width:100%;margin:0}
#sh_site_map .sh_site_map_box{min-height:auto}
/* 반응형 스타일 필수 [e] */
.sh_cont_box .s_tit{font-size:17px}
.sh_cont_box .txt_group{font-size:16px}	
.sh_cont_box .txt_group p{font-size:30px}	
.sh_cont_box .more_btn{font-size:14px}
#sh_ft .ft_nav{height:65px}
#sh_ft .ft_nav > a{font-size:16px}
#sh_ft .ft_nav > a svg{width:16px;height:16px}
#sh_ft .ft_nav li a{font-size:14px}
#sh_ft .inner{display:block}
#sh_ft .info{width:100%;word-break:keep-all}
#sh_ft .cs{display:none}
}
@media (max-width:580px){
#sh_ft .ft_nav {height:60px;padding:0}
#sh_ft .ft_nav > a{width:100%}
#sh_ft .ft_nav ul{display:none}
}
@media (max-width:480px){
.sh_cont_box .s_tit{font-size:16px}	
.sh_cont_box .txt_group p{font-size:24px}	
.sh_cont_box .more_btn{width:135px;height:48px;padding:0 15px 0 20px}
.sh_cont_box .more_btn svg{width:18px;height:18px}
#sh_content{display: block}
#sh_content #sh_aside_com{display: none;}
#sh_content2 {padding: 0}
#sh_content2 #sh_aside_com{display: none;}
#sh_map_v.mapTabs{margin-left: 0;}
#sh_content3 {padding: 0}
#fix_tel{display:block}
#sh_ft_btns{display:block}
#sh_ft{font-size:13px;line-height:1.5}
#sh_ft .inner{padding:40px 20px 30px}
#sh_ft .ft_logo img{max-width:50%}
#sh_ft .copy{flex-wrap:wrap;padding:10px 20px;font-size:12px}
#sh_ft .copy .links a+a{margin-left:15px}
}
@media (max-width:480px){
    .p10 .img_area, .p10 .tit_area, .p10 .txt_area{padding-left: 0 !important;}
    .p10 .img_area img{width: 100% !important;}
    .p18{margin-left: 0 !important;}
    .p18 img{width: 100% !important;}
}
/* 반응형 [e] */

/* 리뉴얼 반응형 */
@media(max-width:1450px){
    .sh_cont_box .s_tit{
        font-size: 24px;
    }
    .sh_cont_box .s_tit::after{
        width: 40px;
    }
    .sh_cont_box .txt_group p{
        font-size: 34px;
    }
    .business_subtit{
        font-size: 22px
    }
}
@media(max-width:1200px){
    #sh_ft .cs .info{
        margin-top: 0;
    }
    #sh_ft .cs .info ul{
        margin-left: 0;
    }
}
@media(max-width:1024px){
    .sh_cont_box .s_tit{
        font-size: 20px;
    }
    .sh_cont_box .s_tit::after{
        width: 40px;
        top: 44%;
    }
    .sh_cont_box .txt_group p{
        font-size: 30px;
        margin: 5px 0 !important;
    }
    .business_subtit{
        font-size: 20px
    }
}
@media(max-width:640px){
    .sh_cont_box .s_tit{
        font-size: 16px;
    }
    .sh_cont_box .s_tit::after{
        width: 30px;
        height: 3px;
        top: 50%;
    }
    .business_subtit{
        font-size: 18px;
    }
    #inc01 .sh_cont_box .txt_group p,
    #inc03 .sh_cont_box .txt_group p{
        font-size: 24px;
    }
}