@charset "utf-8";

#mainVisual{overflow:hidden;position:relative;letter-spacing:-.2px;width:100%;height:100vh;min-height:800px;background:#222}

/* 스와이퍼 */
#mainVisual .main_slide{width:100%;height:100%}
#mainVisual ul li{width:100%;height:100%;background:center no-repeat;background-size:cover}
#mainVisual ul li.bg01{background-image:url('main01.jpg')}
#mainVisual ul li.bg02{background-image:url('main02.jpg')}
#mainVisual ul li.bg03{background-image:url('main03.jpg')}
#mainVisual .pager{position:absolute;left:50%;bottom:70px;z-index:101;transform:translateX(-50%);width:max-content}
#mainVisual .pager span{opacity:.3;position:relative;width:29px;height:29px;margin:0 5px;background-color:transparent;transition:all .3s}
#mainVisual .pager span.on{opacity:1}
#mainVisual .pager span:before{opacity:0;display:block;content:"";position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:45px;height:45px;border:1px solid rgba(255,255,255,.3);border-radius:50%;transition:all .3s}
#mainVisual .pager span.on:before{opacity:1;width:24px;height:24px}
#mainVisual .pager span:after{display:block;content:"";position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:7px;height:7px;border-radius:50%;background:#fff}

/* 텍스트 */
#mainVisual .main_txt{display:flex;flex-flow:column;position:absolute;left:6.5%;bottom:240px;z-index:101;font-size:18px;font-weight:500;color:#fff;font-family:'Pretendard'}
#mainVisual .main_txt span{font-weight:600;font-family:'poppins',sans-serif}
#mainVisual .main_txt p{margin:50px 0 45px;font-size:65px;font-weight:700;line-height:1.2;white-space:pre-line;font-family:'poppins',sans-serif}
#mainVisual .main_txt p b{color:var(--primary)}

@media(max-width:1230px){
#mainVisual{height:800px;min-height:auto}	
}
@media(max-width:1024px){
#mainVisual{height:600px}
#mainVisual .main_txt{bottom:200px;font-size:16px}
#mainVisual .main_txt p{margin:30px 0;font-size:48px}
#mainVisual .pager{bottom:30px}
}
@media(max-width:768px){
#mainVisual{height:500px}
#mainVisual .main_txt{left:30px;bottom:140px;line-height:1.6;word-break:keep-all}
#mainVisual .main_txt p{font-size:42px;word-break:keep-all}
}
@media(max-width:480px){
#mainVisual .main_txt p{font-size:38px}	
}