@charset "utf-8";

#inc02{padding:150px 0 180px;text-align:center;background:url('img/inc02_bg.jpg') center no-repeat;background-size:cover}
#inc02 .sh_cont_box{margin-bottom:90px}
#inc02 .sh_cont_box .s_tit{margin:0 auto;color:#fff}
#inc02 .sh_cont_box .txt_group{color:rgba(255, 255, 255, .6)}
#inc02 .sh_cont_box .txt_group p{margin:45px 0 30px;color:#fff}
#inc02 .box_wrap{position:relative;width:900px;height: 600px;margin:0 auto;background-color:rgba(0, 0, 0, .2);background:url('/sh_page/img/메인 홈페이지 제품 이미지.jpg') center no-repeat;background-size: cover;}
#inc02 .box_wrap a{position: absolute;left: 40px;bottom: 40px;height: auto;color: #fff;font-size: 20px;}
#inc02 .box_wrap .active{opacity:0;position:absolute;top:50%;right:30px;z-index:0;transform:translateY(-50%);width: 330px;height:300px;background:#FF5C00;transition:all .8s cubic-bezier(0.22, 1, 0.36, 1)}
#inc02 ul{position:relative;display:flex;justify-content:space-between;padding:28px}
#inc02 ul li{width:330px}
#inc02 ul li:first-child{width:70%}
#inc02 ul li.menu-item a:first-child{background:#FF5C00;transition:all .8s cubic-bezier(0.22, 1, 0.36, 1)}
#inc02 ul li a{display:flex;flex-flow:column;justify-content:center;align-items:center;height:300px;color:#fff}
#inc02 ul li span{margin:35px 0 10px;font-size:15px;font-weight:600;font-family:'poppins',sans-serif}  
#inc02 ul li p{font-size:22px;font-weight:700;color:#fff}

@media(hover:hover){
#inc02 .box_wrap:hover .active{opacity:1}
}
@media(max-width:1024px){
#inc02 .box_wrap .active{display:none}	
#inc02 ul li{width:calc(100% / 3)}
}
@media(max-width:768px){
#inc02{padding:80px 0}	
#inc02 .sh_cont_box{margin-bottom:50px}
#inc02 .sh_cont_box .txt_group{padding:0 20px}
#inc02 .sh_cont_box .txt_group p{margin:25px 0}
#inc02 ul{padding:0}
#inc02 ul li span{font-size:13px}
#inc02 ul li p{font-size:18px}
#inc02 ul li a{height:280px}
#inc02 ul li a > img{min-width:65px;width:30%}
}
@media(max-width:480px){
#inc02{padding:60px 0}	
}
@media(max-width:380px){
#inc02{padding:60px 0 0}	
#inc02 ul{display:block}
#inc02 ul li{width:100%}
#inc02 ul li+li{border-top:1px solid rgba(255,255,255,.3)}
#inc02 ul li a{height:auto;padding:30px 0}
#inc02 ul li a > img{width:20%}
#inc02 ul li span{margin-top:20px}
}