@charset "utf-8";

#shSnb ul{display:flex}
#shSnb ul li+li:before{display:inline-block;content:"";width:1px;height:13px;margin:0 20px;background:#d4d4d4}
#shSnb ul li a{font-size:17px;font-weight:500;color:#999}
#shSnb ul li.on a{position:relative;color:var(--primary)}
#shSnb ul li.on a:after{display:block;content:"";position:absolute;left:0;bottom:-15px;width:100%;height:4px;background:var(--primary)}